.root {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 35px 0 20px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff4e2 !important;
  z-index: 1;
}

.logo {
  width: 32px;
  height: 42px;
}

.createButton {
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}

.searchBlock {
  width: 310px;
  position: relative;
  margin-right: 15px;
  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    opacity: 0.3;
  }

  input {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    padding-left: 40px;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: darken(#fff4e2, 15%);
      box-shadow: 0 0 0 3px rgb(229 160 64 / 12%);
    }
  }
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;

  &:hover {
    color: lightsalmon;
  }
}
