.comments {
  max-width: 300px;
  margin-left: 40px;
  position: sticky;
  top: 80px;
  right: 15px;
}

.commentsTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.commentsTitle h2 {
  margin: 0;
}

.commentItem {
  margin-bottom: 20px;
}

.commentAuthor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.postTitle {
  margin-top: 15px;
  font-weight: 600;
}
