.comments {
  max-width: 300px;
  margin-left: 40px;
  position: sticky;
  top: 90px;
  right: 15px;
}

.rotated {
  width: 100px;
  transform: rotate(-90deg) translateX(-50px);
  transform-origin: right;

  svg {
    transform: rotate(270deg);
  }
}

.commentsTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.commentsTitle h2 {
  margin: 0;
}

.commentItem {
  margin-bottom: 20px;
}

.commentAuthor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.postTitle {
  margin-top: 15px;
  font-weight: 600;
}
