.form {
  position: relative;
  margin-top: 15px;
  padding: 10px 17px !important;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  background-color: #f7f7f7;
}

.fieldRoot {
  cursor: pointer !important;

  &:after,
  &:before {
    display: none;
  }
}

.addButton {
  margin-top: 10px !important;
}
