.title {
  font-weight: 500 !important;
  font-size: 22px !important ;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
